<form class="guudform" #formData="ngForm">
  <div class="row" style="margin-bottom: 2rem;">
    <div class="col-12">
      <h2 i18n>Supplier</h2>
      <div class="h7" style="text-align:center;" i18n>We offer the best in the world! Tell us in less than a minute why your product is the best.<br>(You can send all the videos you want)</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.firstName}">
        <input type="text" [(ngModel)]="dataFormat.firstName" name="firstName">
        <span i18n>First Name*</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.lastName}">
        <input type="text" [(ngModel)]="dataFormat.lastName" name="lastName">
        <span i18n>Last Name</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.product}">
        <input type="text" [(ngModel)]="dataFormat.product" name="product">
        <span i18n>Product*</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <div class="dropzone" style="height: 3rem;margin-top: 1rem;">
        <img class="inputdeco" src="assets/logos_icons/Clip.webp" style="top:.5rem;" alt="clip" width="36" height="36">
        <span *ngIf="dataFormat.filename == ''" style="top:.8rem;color: #707070;" i18n>Video Drop Zone*</span>
        <span *ngIf="dataFormat.filename != ''" style="top:.8rem;">{{dataFormat.filename}}</span>
        <input type="file" class="dropzone" (change)="_setfiles($event)" ngModel name="filename" accept="video/mp4,video/x-m4v" style="height: 3rem;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.email}">
        <input type="text" [(ngModel)]="dataFormat.email" name="email">
        <span i18n>Email*</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.phone}">
        <input type="text" [(ngModel)]="dataFormat.phone" name="phone">
        <span i18n>Phone*</span>
      </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8 m-auto"><button type="button" (click)="_submit(formData.form.value)" [disabled]="_checkvalid()" i18n>Send</button></div>
  </div>
</form>
