<div style="position: relative;background-color: #f8f8f8;">
  <div class="footerarea">
    <img src="assets/logotipo.svg" alt="" class="logo">
    <ul class="sections1">
      <li>About us</li>
      <li>History</li>
      <li>Purpose</li>
    </ul>
    <ul class="sections2">
      <li>Stories</li>
      <li>Caring & giving</li>
      <li>Sustainability</li>
    </ul>
    <ul class="social">
      <li>Follow us!</li>
      <li><span class="icon-facebook bubble"></span></li>
      <li><span class="icon-instagram bubble"></span></li>
      <li><span class="icon-twitter bubble"></span></li>
      <li><span class="icon-linkedin2 bubble"></span></li>
    </ul>
  </div>
  <!--img src="assets/ref/footer.png" alt="" class="reference" style=""-->
  <div class="rights">GUUD&#174; 2023 <span class="separator"></span> Todos los derechos reservados</div>
</div>
