
.logo {
  top: 0.6vw;
  position: relative;
}

.footerarea {
  border-bottom: 0.16rem solid #ddd;
  padding: 3rem 0rem;
  font-family: 'Exo';
  ul {
    list-style: none;
    color: #1b4544;
    font-size: 1rem;
    li {
      margin-bottom: 0.5vw;
      .bubble {
        color: #fff;
        background-color: #1b4544;
        width: 1.6rem;
        height: 1.6rem;
        display: block;
        border-radius: 100%;
        text-align: center;
        line-height: 1.6rem;
      }
    }
  }
}

.sections1 {
  position: relative;
  font-size: 0.8vw;
}

.sections2 {
  position: relative;
}

.social{
  position: relative;
  li{
    margin-bottom: 0.4vw;
    &:not(:first-child) {
      display: inline-block;
      margin-right: 1vw;
    }
  }
}



.rights {
  font-family: 'Exo';
  text-align: center;
  height: 7vh;
  padding-top: 0.7rem;
  font-size: 0.9rem;
  line-height: 2.8rem;
  color: #707070;
}
.separator {
  border-left: 0.1rem solid #ddd;
  margin-right: 1vw;
  margin-left: 1vw;
}
