<div class="homearea" [ngClass]="{'displayshadow':_apply}">
  <guud-imageplacer [imageList]="phrases" [mobilekeys]="mobilekeys"></guud-imageplacer>
</div>
<!--img src="assets/ref/mob1.png" alt="" class="reference" style="width: 100vw;  object-fit: contain;top: 0;left: 0rem;"-->
<!--guudview-aboutus [_applyshadow]="false"></guudview-aboutus>
<guudview-history [_applyshadow]="false"></guudview-history>
<guudview-coach [_applyshadow]="false"></guudview-coach>
<guudview-supplier [_applyshadow]="false"></guudview-supplier-->
