/*
#spawnarea {
  position: relative;
  border: 1px solid red;
  width: 90%;
  height: 80vh;
  margin: auto;
  top: 7vh;
}

.spawnedPhrase {
  position: absolute;
  height: 13vw;
  left: 0;
  top: 0;
  opacity: 0;
  max-width: 22vw;
}

.dataarea {
  position: absolute;
  left: 37.5vw;
  width: 30vw;
  text-align: center;
}
*/
