<div class="displayshadow">
  <div class="display col-11 col-lg-10 col-xl-9 col-xxl-7 m-auto">
    <div class="row">
      <div class="col-12">
        <h1 i18n>We are good people, <br> who wants the best of you!</h1>
        <h4 i18n>Our purpose is create wellness and happiness around the world!</h4>
      </div>
    </div>
    <div class="icons row">
      <div class="col-12 col-md-4">
        <img alt="iconMission" src="assets/logos_icons/Mission.webp" class="svgic" width="112" height="112">
        <h3 i18n>Mission:</h3>
        <h5 i18n>Hack brains and shape bodies</h5>
      </div>
      <div class="col-12 col-md-4">
        <img alt="iconVision" src="assets/logos_icons/Vision.webp" class="svgic" width="112" height="112">
        <h3 i18n>Vision:</h3>
        <h5 i18n>Find the Guud in YOU. Let's Go!</h5>
      </div>
      <div class="col-12 col-md-4">
        <img alt="iconCoreValues" src="assets/logos_icons/Core Values.webp" class="svgic" width="112" height="112">
        <h3 i18n>Core values:</h3>
        <h5 i18n>Passion, Innovation & Fun</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-8 m-auto">
        <h6 i18n>
          P.S Be Good!
        </h6>
      </div>
    </div>
    <br>
  </div>
</div>
