.display {
  padding-top: 2.3rem;
  padding-bottom: 2rem;
}

.icons {
  text-align: center;
  padding-top: 10.7rem;

  div {
    position: relative;
  }

  h3 {
    margin-top: 2.5rem;
  }

  h5 {
    margin-top: -0.2rem;
  }
}

.svgic {
  position: absolute;
  margin: auto;
  top: -3.6rem;
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
}


.icons.row .col-12.col-md-4 {
  margin-bottom: 3rem;
}

@media (max-width: 909px){
  .icons.row .col-12.col-md-4 {
    margin-bottom: 7rem;
  }

  .icons {
    padding-top: 6.7rem;
  }
}
