guud-imageplacer {
  @media (min-width: 811px) {
    .bg {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .webdisplay {
      height: 93dvh;
      display: block;
      position: relative;
    }

    .webdisplay > * {
      position: absolute;
      //estableciendo pivote en el centro
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      height: auto;
      @media (max-width: 810px) {
        $sizeMultiplierX: 5;
        $sizeMultiplierY: 1;
        $sizeMultiplier: 1;

        &:not(.ondisplay, [alt="GUUD"], [alt="slogan"]) {
          opacity: 0;
        }

        &[id="webarrow1"],
        &[id="webarrow2"],
        &[id="webarrow3"],
        &[id="webarrow4"],
        &[id="webarrow5"] {
          display: none;
        }
      }
    }
    $sizeMultiplierX: 0.94;
    $sizeMultiplierY: 0.94;
    $sizeMultiplier: 0.94;

    [alt="GUUD"] {
      width: 32.5vw;
      height: auto;
      top: -11.8vh;
      z-index: 1;
      @media (max-width: 1200px) {
        top: 10vh;
        width: 43.5vw;
        left: -1.25vw;
      }
    }

    [alt="slogan"] {
      width: 19.2vw;
      top: 9vh;
      @media (max-width: 1200px) {
        display: none;
      }
    }

    #webarrow1 {
      left: -81.4vw;
      top: 37vh;
      width: 8.3vw;
      @media (max-width: 1200px) {
        left: -67.7vw;
        top: 50.3vh;
        width: 8.8vw;
      }
    }

    #webarrow2 {
      left: -35vw;
      top: 67vh;
      width: 8vw;
      @media (max-width: 1200px) {
        left: 43.6vw;
        top: -47.8vh;
        width: 9.5vw;
      }
    }

    #webarrow3 {
      left: 38.7vw;
      top: 67.6vh;
      width: 7.5vw;
      @media (max-width: 1200px) {
        left: 30vw;
        top: 93vh;
        width: 7.5vw;
      }
    }

    #webarrow4 {
      left: 87.6vw;
      top: -0.5vh;
      width: 3.2vw;
      @media (max-width: 1200px) {
        left: 78vw;
        top: 7vh;
        width: 2.7vw;
      }
    }

    #webarrow5 {
      left: 47vw;
      top: -51vh;
      width: 8.56vw;
      @media (max-width: 1200px) {
        left: -35vw;
        top: 95vh;
        width: 8vw;
      }
    }

    #webphrase0 {
      left: -22.5vw;
      top: 45vh;
      width: 11.7vw;
      @media (max-width: 1200px) {
        left: -28.4vw;
        width: 12.4vw;
        top: 58.5vh;
      }
    }

    #webphrase1 {
      left: -64.6vw;
      top: -64vh;
      width: 16vw;
      @media (max-width: 1200px) {
        left: -66.4vw;
        width: 17.8vw;
        top: -65vh;
      }
    }

    #webphrase2 {
      left: -81.3vw;
      top: -33.8vh;
      width: 9.5vw;
      @media (max-width: 1200px) {
        left: -68.8vw;
        width: 9vw;
        top: -16.8vh;
      }
    }

    #webphrase3 {
      top: -28.2vh;
      left: -60.3vw;
      width: 9.5vw;
      @media (max-width: 1200px) {
        left: -29.8vw;
        width: 9.5vw;
        top: -19.4vh;
      }
    }

    #webphrase4 {
      top: -58vh;
      left: -36.5vw;
      width: 15vw;
      @media (max-width: 1200px) {
        left: -34.7vw;
        width: 16.8vw;
        top: -47.6vh;
      }
    }

    #webphrase5 {
      top: -66vh;
      left: -7vw;
      width: 18.5vw;
      @media (max-width: 1200px) {
        top: -68vh;
        left: -7.6vw;
        width: 21.4vw;
      }
    }

    #webphrase6 {
      left: -79.5vw;
      top: 14vh;
      width: 9vw;
      @media (max-width: 1200px) {
        left: -71vw;
        top: 22.5vh;
        width: 9vw;
      }
    }

    #webphrase7 {
      left: -67vw;
      top: 55.5vh;
      width: 25vw;
      @media (max-width: 1200px) {
        left: -58.6vw;
        top: 78.3vh;
        width: 25vw;
      }
    }

    #webphrase8 {
      left: -55vw;
      top: 16vh;
      width: 8.5vw;
      @media (max-width: 1200px) {
        left: -45.4vw;
        top: 35.6vh;
        width: 8vw;
      }
    }

    #webphrase9 {
      left: 10.3vw;
      top: 33.5vh;
      width: 10.2vw;
      @media (max-width: 1200px) {
        left: 3.5vw;
        top: 48.6vh;
        width: 10.9vw;
      }
    }

    #webphrase10 {
      left: 8.3vw;
      top: 61.2vh;
      width: 13vw;
      @media (max-width: 1200px) {
        left: 3.5vw;
        top: 78.5vh;
        width: 14vw;
      }
    }

    #webphrase11 {
      left: 39.7vw;
      top: 39.8vh;
      width: 11vw;
      @media (max-width: 1200px) {
        left: 33.8vw;
        top: 52.9vh;
        width: 10.8vw;
      }
    }

    #webphrase12 {
      left: 71.4vw;
      top: 65vh;
      width: 16.2vw;
      @media (max-width: 1200px) {
        left: 59.5vw;
        top: 85.6vh;
        width: 18.6vw;
      }
    }

    #webphrase13 {
      left: 71.4vw;
      top: 45.8vh;
      width: 13.9vw;
      @media (max-width: 1200px) {
        left: 64.9vw;
        top: 64.8vh;
        width: 15.2vw;
      }
    }

    #webphrase14 {
      left: 73.8vw;
      top: 20.2vh;
      width: 15.5vw;
      @media (max-width: 1200px) {
        left: 65vw;
        top: 25.8vh;
        width: 18.7vw;
      }
    }

    #webphrase15 {
      left: 61.7vw;
      top: -9.5vh;
      width: 10vw;
      @media (max-width: 1200px) {
        left: 38.2vw;
        top: -19.8vh;
        width: 9.9vw;
      }
    }

    #webphrase16 {
      left: 83.5vw;
      top: -33.5vh;
      width: 8.5vw;
      @media (max-width: 1200px) {
        left: 68.5vw;
        top: -16vh;
        width: 8vw;
      }
    }

    #webphrase17 {
      left: 57vw;
      top: -42.7vh;
      width: 8vw;
      @media (max-width: 1200px) {
        left: 65.8vw;
        top: -40vh;
        width: 8.9vw;
      }
    }

    #webphrase18 {
      left: 76vw;
      top: -66.3vh;
      width: 13.5vw;
      @media (max-width: 1200px) {
        left: 65.9vw;
        top: -68vh;
        width: 16vw;
      }
    }

    #webphrase19 {
      left: 39.3vw;
      top: -64.5vh;
      width: 9.2vw;
      @media (max-width: 1200px) {
        left: 31.2vw;
        top: -64.6vh;
        width: 9.8vw;
      }
    }

    #webphrase20 {
      left: 25.5vw;
      top: -47.5vh;
      width: 11.2vw;
      @media (max-width: 1200px) {
        left: 7.1vw;
        top: -23.8vh;
        width: 12.5vw;
      }
    }

    #webphrase21 {
      left: 18.3vw;
      top: -68.9vh;
      width: 4.1vw;
      @media (max-width: 1200px) {
        left: 13.4vw;
        top: -49vh;
        width: 4.4vw;
      }
    }

    #webphrasenew23 {
      top: -36vh;
      width: 16vw;
      @media (max-width: 1200px) {

      }
    }
  }


  @media (max-width: 810px) {

    .phrase.ondisplay {
      opacity: 1;
    }

    $sizeMultiplier: .8;
    $sizeMultiplierX: 1;
    $sizeMultiplierY: .8;

    .webdisplay{
      display: block;
      [id*="webphrase"],[id*="webarrow"],[alt="GUUD"],[alt="slogan"] {
        transform: translate(3vw, 5vh);
      }
    }

    img {
      height: unset;
      &:not(.ondisplay,[alt="GUUD"],[alt="slogan"]){
        opacity: 0;
      }

      &[alt="GUUD"] {
        left: calc(9.8vw * $sizeMultiplierX);
        top: calc(79vw * $sizeMultiplierY);
        width: calc(91vw * $sizeMultiplier);
      }

      &[alt="slogan"] {
        left: calc(13vw * $sizeMultiplierX);
        top: calc(101vw * $sizeMultiplierY);
        width: calc(84vw * $sizeMultiplier);
      }

      &[id="webarrow1"],&[id="webarrow2"],&[id="webarrow3"],&[id="webarrow4"],&[id="webarrow5"]{
        display: none;
      }

      &[id="webphrase9"] {
        left: calc(59vw * $sizeMultiplierX);
        top: calc(24vw * $sizeMultiplierY);
        width: calc(41vw * $sizeMultiplier);
      }

      &[id="webphrase13"] {
        left: calc(2vw * $sizeMultiplierX);
        top: calc(45vw * $sizeMultiplierY);
        width: calc(55vw * $sizeMultiplier);
      }

      &[id="webphrase1"] {
        left: calc(3vw * $sizeMultiplierX);
        top: calc(15vw * $sizeMultiplierY);
        width: calc(52vw * $sizeMultiplier);
      }

      &[id="webphrase15"] {
        left: calc(63vw * $sizeMultiplierX);
        top: calc(130vw * $sizeMultiplierY);
        width: calc(32vw * $sizeMultiplier);
      }

      &[id="webphrase8"] {
        left: calc(13vw * $sizeMultiplierX);
        top: calc(117vw * $sizeMultiplierY);
        width: calc(30vw * $sizeMultiplier);
      }

      &[id="webphrase2"] {
        left: calc(65vw * $sizeMultiplierX);
        top: calc(14vw * $sizeMultiplierY);
        width: calc(31vw * $sizeMultiplier);
      }

      &[id="webphrase17"] {
        left: calc(5vw * $sizeMultiplierX);
        top: calc(15vw * $sizeMultiplierY);
        width: calc(44vw * $sizeMultiplier);
      }

      &[id="webphrase20"] {
        left: calc(3vw * $sizeMultiplierX);
        top: calc(45vw * $sizeMultiplierY);
        width: calc(45vw * $sizeMultiplier);
      }

      &[id="webphrase10"] {
        left: calc(3vw * $sizeMultiplierX);
        top: calc(15vw * $sizeMultiplierY);
        width: calc(52vw * $sizeMultiplier);
      }

      &[id="webphrase11"] {
        left: calc(63vw * $sizeMultiplierX);
        top: calc(20vw * $sizeMultiplierY);
        width: calc(35vw * $sizeMultiplier);
      }

      &[id="webphrase18"] {
        left: calc(6vw * $sizeMultiplierX);
        top: calc(119vw * $sizeMultiplierY);
        width: calc(46vw * $sizeMultiplier);
      }

      &[id="webphrase6"] {
        left: calc(17vw * $sizeMultiplierX);
        top: calc(44vw * $sizeMultiplierY);
        width: calc(27vw * $sizeMultiplier);
      }

      &[id="webphrase4"] {
        left: calc(9vw * $sizeMultiplierX);
        top: calc(117vw * $sizeMultiplierY);
        width: calc(38vw * $sizeMultiplier);
      }

      &[id="webphrase16"] {
        left: calc(21vw * $sizeMultiplierX);
        top: calc(163vw * $sizeMultiplierY);
        width: calc(30vw * $sizeMultiplier);
      }

      &[id="webphrase0"] {
        left: calc(60vw * $sizeMultiplierX);
        top: calc(135vw * $sizeMultiplierY);
        width: calc(38vw * $sizeMultiplier);
      }

      &[id="webphrase5"] {
        left: calc(18vw * $sizeMultiplierX);
        top: calc(167vw * $sizeMultiplierY);
        width: calc(64vw * $sizeMultiplier);
      }

      &[id="webphrase12"] {
        left: calc(3vw * $sizeMultiplierX);
        top: calc(47vw * $sizeMultiplierY);
        width: calc(49vw * $sizeMultiplier);
      }

      &[id="webphrase14"] {
        left: calc(17vw * $sizeMultiplierX);
        top: calc(161vw * $sizeMultiplierY);
        width: calc(66vw * $sizeMultiplier);
      }

      &[id="webphrase7"] {
        left: calc(10vw * $sizeMultiplierX);
        top: calc(160vw * $sizeMultiplierY);
        width: calc(83vw * $sizeMultiplier);
      }

      &[id="webphrase19"] {
        left: calc(65vw * $sizeMultiplierX);
        top: calc(25vw * $sizeMultiplierY);
        width: calc(30vw * $sizeMultiplier);
      }

      &[id="webphrase21"] {
        left: calc(72vw * $sizeMultiplierX);
        top: calc(134vw * $sizeMultiplierY);
        width: calc(17vw * $sizeMultiplier);
      }

      &[id="webphrase3"] {
        left: calc(62vw * $sizeMultiplierX);
        top: calc(131vw * $sizeMultiplierY);
        width: calc(34vw * $sizeMultiplier);
      }

      &[id="webphrasenew23"] {
        left: calc(10vw * $sizeMultiplierX);
        top: calc(160vw * $sizeMultiplierY);
        width: calc(83vw * $sizeMultiplier);
      }
    }
  }
}
