h1 {
  font-family: $secondaryfont;
  color: $gray-font;
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
}

h2 {
  font-size: 3.4rem;
  font-weight: bold;
  font-family: $mainfont;
  color: $gray-font;
  text-align: center;
  position: relative;
  margin: 1rem 0 2rem;
}

h3 {
  font-family: $secondaryfont;
  color: $blue-font;
  font-size: 2.7rem;
}

h4 {
  color: $gray-font;
  text-align: center;
  margin-top: 1.9rem;
  font: normal normal normal 18px/22px $secondaryfont;
  font-size: 2.57rem;
}

h5 {
  color: $gray-font;
  text-align: center;
  margin-top: 1.9rem;
  font: normal normal normal 18px/22px $mainfont;
  font-size: 1.57rem;
  line-height: 2.6rem;
}

h6 {
  font-family: $secondaryfont;
  font-size: 5rem;
  color: $gray-font;
  text-align: center;
}

.h7 {
  color: $blue-font;
}

.caringdisplay {
  color: #ddd;
  font: normal normal normal 18px/22px $secondaryfont;
}
@media (max-width: 910px) {
  h1 {
    font-size: 13vw;
  }

  h3 {
    font-size: 9vw;
  }

  h4 {
    font-size: 8vw;
  }

  h5 {
    font-size: 6vw;
  }

  h6 {
    font-size: 14vw;
  }
}
