.burguermenu {
  display: none;
}
@media (max-width: 1244px) {
  //Menu
  .menubar {
    .logo {
      left: 10%;
    }

    .navigation {
      display: none;
    }

    .burguermenu {
      display: block;
    }

  }
  .displayshadow {
    height: unset;
    min-height: 90vh;
  }

}
//Hom Specific
@media (min-width: 810px) and (max-width: 1777px) {
  .homearea {
    translate: 0 1.6rem;
  }
}
@media (min-width: 810px) {
  .homearea {
    //height: 52vw;
  }
}
@media (max-width: 810px) {
  .homearea {
    height: 190vw;
  }
}
@media (max-width: 420px) {
  .homearea {
    height: unset;
    min-height: 93vh;

    guud-imageplacer img {
      transform: translateY(11vw);
    }
  }
}
@media (max-height: 667px) {
  .homearea {
    height: 110vh;
  }
}
@media (max-width: 1010px) {
  guud-footer *{
    font-size: .8rem !important;
  }
  .applist{
    position: unset !important; 
  }
}
@media (max-width: 909px) {

  guud-footer{
    text-align: center;
  }

  .caringdisplay {
    height: unset !important;
    [class*="-display"] {
      margin-bottom: 3rem !important;
      &.left-display {
        position: relative;
        left: 0rem !important;
        top: 2rem !important;
        z-index: 0 !important;
        transform: rotate(0deg) scale(1) !important;
      }
      &.middle-display {
        position: relative;
        left: 0rem !important;
        top: 2rem !important;
        z-index: 0 !important;
        transform: rotate(0deg) scale(1) !important;
      }
      &.right-display {
        position: relative;
        right: 0rem !important;
        top: 2rem !important;
        z-index: 0 !important;
        transform: rotate(0deg) scale(1) !important;
      }
    }
  }

  input:not([type="checkbox"], [type="radio"]),
  select,
  .fileinput {
    margin-bottom: 1.4rem;
  }

  .footerarea {
    .sections1 li,
    .sections2 li {
      margin-bottom: 3vw;
    }
  }

  .formimage {
    width: 100%;
    top: -4rem;
    height: unset;
  }
  //Footer Specific
  .footerarea {
    .logo {
      display: block;
      margin: auto;
    }

    .sections1 li,
    .sections2 li {
      padding-left: 6vw;
      font-size: 1.1rem;
    }

    .social {
      text-align: center;
      padding-top: 3rem;

      li:first-child {
        margin-bottom: 1.7rem;
        font-size: 1.1rem;
      }

      li:not(:first-child) {
        margin-right: 6vw;
      }
    }

    ul {
      font-size: 1.2rem;

      li .bubble {
        width: 2.6rem;
        height: 2.6rem;
        line-height: 2.6rem;
      }
    }
  }
}
