@media (max-width: 1244px) {
  .displayshadow{
    height: unset !important;
    //min-height: 123vh !important;
  }
}
.coachbanner {
  position: relative;
  width: 90%;
  min-height: 22vh;
  background-color: #000000;
  border-radius: 1.5rem;
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
  top: 0.6rem;

  #model {
    height: 35vh;
    position: absolute;
    left: 4vw;
    top: 1vw;
  }
  #app {
    height: 21vh;
    position: absolute;
    left: 18vw;
    top: 0.2vw;
  }
  .bannermessage {
    position: absolute;
    right: 4vw;
    width: 34rem;
    color: #ffffff;
    text-align: center;
    font-size: 4vh;
    img {
      height: 3rem;
    }
  }
}

.playbutton {
  top: -6rem;
  position: relative;
}
