<!--div class="displayshadow">
  <div class="col-sm-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 m-auto">
    <div class="row" style="margin: auto;">
      <div class="col-xl-6 col-md-7 col-sm-8 m-auto">
        <guudform-becoach></guudform-becoach>
      </div>
      <div class="col-xl-6 col-md-5 col-sm-8 m-auto">
        <img alt="GUUD Coach" src="assets/logos_icons/Guud-Coach@2x.webp" alt="" class="formimage" width="700" height="870">
      </div>
    </div>
  </div>
</div -->

<div [ngClass]="{'displayshadow':_apply}" style="background-color: #70707094; height: 111.6vh;">
  <div class="guudvideo">
    <video id="videoplayerhistory" class="videoPlayer azuremediaplayer amp-default-skin" width="innerWidth" height="innerHeight" webkit-playsinline playsinline></video>
  </div>
  <div class="coachbanner m-auto">
    <img src="assets/logos_icons/Coach-Woman.webp" alt="GUUD Model" id="model">
    <img src="assets/logos_icons/Cell-Coach.webp" alt="APP Coaches" id="app">

    <div class="bannermessage">
      <div class="row">
        <div class="col-12">
          <div class="row" id="join">
            <div class="col-12" i18n style="transform: scale(1.4, 0.9);">BECOME A COACH</div>
          </div>
          <div class="row">
            <div class="col-6"><a href="https://apps.apple.com/us/app/guud-coach/id6449237809"><img src="assets/logos_icons/AppStore.webp" alt="App Store"></a></div>
            <div class="col-6" style="position: relative;right: 0.7rem;"><img src="assets/logos_icons/Google-Play.webp" alt="Play Store"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
