<div class="displayshadow">
  <div class="col-sm-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 m-auto">
    <div class="row" style="margin: auto;">
      <div class="col-xl-6 col-md-7 col-sm-8 m-auto">
        <guudform-becoach></guudform-becoach>
      </div>
      <div class="col-xl-6 col-md-5 col-sm-8 m-auto">
        <img alt="GUUD Coach" src="assets/logos_icons/Guud-Coach@2x.webp" alt="" class="formimage" width="700" height="870">
      </div>
    </div>
  </div>
</div>
<!--img src="assets/ref/coach.png" alt="" class="reference" style="width: 100vw;height: 100vh;object-fit: contain;"-->
