<form class="guudform" #formData="ngForm">
  <div class="row" style="margin-bottom: 2rem;">
    <div class="col-12 m-auto">
      <h2 i18n>Ideas</h2>
      <div class="h7" style="text-align:center;" i18n>Tell us the idea you have in a video less than a minute<br>(You can send all the videos you want)</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.firstName}">
        <input type="text" [(ngModel)]="dataFormat.firstName" name="firstName">
        <span i18n>First Name*</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.lastName}">
        <input type="text" [(ngModel)]="dataFormat.lastName" name="lastName">
        <span i18n>Last Name</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.email}">
        <input type="text" [(ngModel)]="dataFormat.email" name="email">
        <span i18n>Email</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.phone}">
        <input type="text" [(ngModel)]="dataFormat.phone" name="phone">
        <span i18n>Phone*</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.filename}">
        <img class="inputdeco" src="assets/logos_icons/Clip.webp" alt="clip" width="36" height="36">
        <input type="file" (change)="_setfiles($event)" ngModel name="filename" accept="video/mp4,video/x-m4v,video/*">
        <div class="fileinput"><p>{{dataFormat.filename}}</p></div>
        <span i18n>Video*</span>
      </label>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-8 m-auto"><button type="button" (click)="_submit(formData.form.value)" [disabled]="_checkvalid()" i18n>Send</button></div>
  </div>
</form>
