.phrase.ondisplay {
  opacity: 1;
}

$sizeMultiplier: .94;

.webdisplay{
  [id*="webphrase"],[id*="webarrow"],[alt="GUUD"],[alt="slogan"] {
    transform: translate(3vw, 0);
  }
}


img {
  height: unset;

  &[alt="GUUD"] {
    left: calc(32.8vw * $sizeMultiplier);
    top: calc(20.1vw * $sizeMultiplier);
    width: calc(34.5vw * $sizeMultiplier);
  }

  &[alt="slogan"] {
    left: calc(39.7vw * $sizeMultiplier);
    top: calc(27.8vw * $sizeMultiplier);
    width: calc(20.4vw * $sizeMultiplier);
  }

  &[id="webphrase9"] {
    left: calc(50vw * $sizeMultiplier);
    top: calc(31.9vw * $sizeMultiplier);
    width: calc(11vw * $sizeMultiplier);
  }

  &[id="webphrase13"] {
    left: calc(80.6vw * $sizeMultiplier);
    top: calc(36.8vw * $sizeMultiplier);
    width: calc(14.7vw * $sizeMultiplier);
  }

  &[id="webarrow1"] {
    left: calc(2.4vw * $sizeMultiplier);
    top: calc(33.6vw * $sizeMultiplier);
    width: calc(8.9vw * $sizeMultiplier);
  }

  &[id="webarrow2"] {
    left: calc(27vw * $sizeMultiplier);
    top: calc(42vw * $sizeMultiplier);
    width: calc(8.6vw * $sizeMultiplier);
  }

  &[id="webarrow3"] {
    left: calc(66.6vw * $sizeMultiplier);
    top: calc(42.4vw * $sizeMultiplier);
    width: calc(8vw * $sizeMultiplier);
  }

  &[id="webarrow4"] {
    left: calc(94.9vw * $sizeMultiplier);
    top: calc(22.3vw * $sizeMultiplier);
    width: calc(3.4vw * $sizeMultiplier);
  }

  &[id="webarrow5"] {
    left: calc(70.4vw * $sizeMultiplier);
    top: calc(10.8vw * $sizeMultiplier);
    width: calc(9.2vw * $sizeMultiplier);
  }

  &[id="webphrase1"] {
    left: calc(7vw * $sizeMultiplier);
    top: calc(5vw * $sizeMultiplier);
    width: calc(17.2vw * $sizeMultiplier);
  }

  &[id="webphrase15"] {
    left: calc(77.5vw * $sizeMultiplier);
    top: calc(18.8vw * $sizeMultiplier);
    width: calc(10.6vw * $sizeMultiplier);
  }

  &[id="webphrase8"] {
    left: calc(16.2vw * $sizeMultiplier);
    top: calc(26.2vw * $sizeMultiplier);
    width: calc(9vw * $sizeMultiplier);
  }

  &[id="webphrase2"] {
    left: calc(1.6vw * $sizeMultiplier);
    top: calc(10.6vw * $sizeMultiplier);
    width: calc(10.3vw * $sizeMultiplier);
  }

  &[id="webphrase17"] {
    left: calc(76vw * $sizeMultiplier);
    top: calc(12.6vw * $sizeMultiplier);
    width: calc(8.5vw * $sizeMultiplier);
  }

  &[id="webphrase20"] {
    left: calc(57.6vw * $sizeMultiplier);
    top: calc(11.2vw * $sizeMultiplier);
    width: calc(11.8vw * $sizeMultiplier);
  }

  &[id="webphrase10"] {
    left: calc(47.4vw * $sizeMultiplier);
    top: calc(40vw * $sizeMultiplier);
    width: calc(14vw * $sizeMultiplier);
  }

  &[id="webphrase11"] {
    left: calc(65.4vw * $sizeMultiplier);
    top: calc(31.2vw * $sizeMultiplier);
    width: calc(11.6vw * $sizeMultiplier);
  }

  &[id="webphrase18"] {
    left: calc(83.2vw * $sizeMultiplier);
    top: calc(5.2vw * $sizeMultiplier);
    width: calc(14.4vw * $sizeMultiplier);
  }

  &[id="webphrase6"] {
    left: calc(2.8vw * $sizeMultiplier);
    top: calc(25.7vw * $sizeMultiplier);
    width: calc(9.7vw * $sizeMultiplier);
  }

  &[id="webphrase4"] {
    left: calc(22.6vw * $sizeMultiplier);
    top: calc(5vw * $sizeMultiplier);
    width: calc(16vw * $sizeMultiplier);
  }

  &[id="webphrase16"] {
    left: calc(89.8vw * $sizeMultiplier);
    top: calc(13vw * $sizeMultiplier);
    width: calc(9vw * $sizeMultiplier);
  }

  &[id="webphrase0"] {
    left: calc(31.8vw * $sizeMultiplier);
    top: calc(34.4vw * $sizeMultiplier);
    width: calc(12.4vw * $sizeMultiplier);
  }

  &[id="webphrase5"] {
    left: calc(36.4vw * $sizeMultiplier);
    top: calc(5.4vw * $sizeMultiplier);
    width: calc(19.6vw * $sizeMultiplier);
  }

  &[id="webphrase12"] {
    left: calc(79.4vw * $sizeMultiplier);
    top: calc(41.6vw * $sizeMultiplier);
    width: calc(17.2vw * $sizeMultiplier);
  }

  &[id="webphrase14"] {
    left: calc(81vw * $sizeMultiplier);
    top: calc(28.1vw * $sizeMultiplier);
    width: calc(16.6vw * $sizeMultiplier);
  }

  &[id="webphrase7"] {
    left: calc(0.9vw * $sizeMultiplier);
    top: calc(35.9vw * $sizeMultiplier);
    width: calc(26.8vw * $sizeMultiplier);
  }

  &[id="webphrase19"] {
    left: calc(66vw * $sizeMultiplier);
    top: calc(5.2vw * $sizeMultiplier);
    width: calc(9.8vw * $sizeMultiplier);
  }

  &[id="webphrase21"] {
    left: calc(57.5vw * $sizeMultiplier);
    top: calc(4.9vw * $sizeMultiplier);
    width: calc(4.4vw * $sizeMultiplier);
  }

  &[id="webphrase3"] {
    left: calc(12.9vw * $sizeMultiplier);
    top: calc(14.8vw * $sizeMultiplier);
    width: calc(10vw * $sizeMultiplier);
  }
}


@media (max-width: 810px) {
  .webdisplay{
    [id*="webphrase"],[id*="webarrow"],[alt="GUUD"],[alt="slogan"] {
      transform: translate(3vw, 5vh);
    }
  }

  img {
    height: unset;
    &:not(.ondisplay,[alt="GUUD"],[alt="slogan"]){
      opacity: 0;
    }

    &[alt="GUUD"] {
      left: calc(4.8vw * $sizeMultiplier);
      top: calc(76vw * $sizeMultiplier);
      width: calc(91vw * $sizeMultiplier);
    }

    &[alt="slogan"] {
      left: calc(8vw * $sizeMultiplier);
      top: calc(96vw * $sizeMultiplier);
      width: calc(84vw * $sizeMultiplier);
    }

    &[id="webarrow1"],&[id="webarrow2"],&[id="webarrow3"],&[id="webarrow4"],&[id="webarrow5"]{
      display: none;
    }

    &[id="webphrase9"] {
      left: calc(60vw * $sizeMultiplier);
      top: calc(38vw * $sizeMultiplier);
      width: calc(41vw * $sizeMultiplier);
    }

    &[id="webphrase13"] {
      left: calc(2vw * $sizeMultiplier);
      top: calc(45vw * $sizeMultiplier);
      width: calc(55vw * $sizeMultiplier);
    }

    &[id="webphrase1"] {
      left: calc(3vw * $sizeMultiplier);
      top: calc(15vw * $sizeMultiplier);
      width: calc(52vw * $sizeMultiplier);
    }

    &[id="webphrase15"] {
      left: calc(57vw * $sizeMultiplier);
      top: calc(142vw * $sizeMultiplier);
      width: calc(32vw * $sizeMultiplier);
    }

    &[id="webphrase8"] {
      left: calc(8vw * $sizeMultiplier);
      top: calc(127vw * $sizeMultiplier);
      width: calc(30vw * $sizeMultiplier);
    }

    &[id="webphrase2"] {
      left: calc(63vw * $sizeMultiplier);
      top: calc(23vw * $sizeMultiplier);
      width: calc(31vw * $sizeMultiplier);
    }

    &[id="webphrase17"] {
      left: calc(5vw * $sizeMultiplier);
      top: calc(15vw * $sizeMultiplier);
      width: calc(44vw * $sizeMultiplier);
    }

    &[id="webphrase20"] {
      left: calc(3vw * $sizeMultiplier);
      top: calc(45vw * $sizeMultiplier);
      width: calc(45vw * $sizeMultiplier);
    }

    &[id="webphrase10"] {
      left: calc(3vw * $sizeMultiplier);
      top: calc(15vw * $sizeMultiplier);
      width: calc(52vw * $sizeMultiplier);
    }

    &[id="webphrase11"] {
      left: calc(60vw * $sizeMultiplier);
      top: calc(30vw * $sizeMultiplier);
      width: calc(35vw * $sizeMultiplier);
    }

    &[id="webphrase18"] {
      left: calc(5vw * $sizeMultiplier);
      top: calc(130vw * $sizeMultiplier);
      width: calc(46vw * $sizeMultiplier);
    }

    &[id="webphrase6"] {
      left: calc(3vw * $sizeMultiplier);
      top: calc(44vw * $sizeMultiplier);
      width: calc(27vw * $sizeMultiplier);
    }

    &[id="webphrase4"] {
      left: calc(10vw * $sizeMultiplier);
      top: calc(124vw * $sizeMultiplier);
      width: calc(38vw * $sizeMultiplier);
    }

    &[id="webphrase16"] {
      left: calc(35vw * $sizeMultiplier);
      top: calc(168vw * $sizeMultiplier);
      width: calc(30vw * $sizeMultiplier);
    }

    &[id="webphrase0"] {
      left: calc(54vw * $sizeMultiplier);
      top: calc(136vw * $sizeMultiplier);
      width: calc(38vw * $sizeMultiplier);
    }

    &[id="webphrase5"] {
      left: calc(18vw * $sizeMultiplier);
      top: calc(172vw * $sizeMultiplier);
      width: calc(64vw * $sizeMultiplier);
    }

    &[id="webphrase12"] {
      left: calc(3vw * $sizeMultiplier);
      top: calc(47vw * $sizeMultiplier);
      width: calc(49vw * $sizeMultiplier);
    }

    &[id="webphrase14"] {
      left: calc(17vw * $sizeMultiplier);
      top: calc(166vw * $sizeMultiplier);
      width: calc(66vw * $sizeMultiplier);
    }

    &[id="webphrase7"] {
      left: calc(10vw * $sizeMultiplier);
      top: calc(165vw * $sizeMultiplier);
      width: calc(83vw * $sizeMultiplier);
    }

    &[id="webphrase19"] {
      left: calc(59.5vw * $sizeMultiplier);
      top: calc(41vw * $sizeMultiplier);
      width: calc(30vw * $sizeMultiplier);
    }

    &[id="webphrase21"] {
      left: calc(62vw * $sizeMultiplier);
      top: calc(139vw * $sizeMultiplier);
      width: calc(17vw * $sizeMultiplier);
    }

    &[id="webphrase3"] {
      left: calc(54vw * $sizeMultiplier);
      top: calc(134.5vw * $sizeMultiplier);
      width: calc(34vw * $sizeMultiplier);
    }
  }
}
