<div class="webdisplay">
  <img src="assets/phrases/logo-Guud.webp" class="phrase animation nohover" alt="GUUD" width="660" height="120">
  <img src="assets/phrases/Frase-23.webp" class="phrase animation nohover" alt="slogan" width="390" height="38">

  <img src="assets/phrases/flechas/Flecha-1.webp" alt="GUUD Wishes" id="webarrow1" class="phrase animation" i18n-alt i18n-src  width="130" height="80">
  <img src="assets/phrases/flechas/Flecha-2.webp" alt="GUUD Wishes" id="webarrow2" class="phrase animation" i18n-alt i18n-src  width="130" height="70">
  <img src="assets/phrases/flechas/Flecha-3.webp" alt="GUUD Wishes" id="webarrow3" class="phrase animation" i18n-alt i18n-src  width="120" height="60">
  <img src="assets/phrases/flechas/Flecha-4.webp" alt="GUUD Wishes" id="webarrow4" class="phrase animation" i18n-alt i18n-src  width="50" height="120">
  <img src="assets/phrases/flechas/Flecha-5.webp" alt="GUUD Wishes" id="webarrow5" class="phrase animation" i18n-alt i18n-src  width="140" height="60">

  <img src="assets/phrases/Frase-1.webp" alt="GUUD Wishes" id="webphrase1" class="phrase animation" i18n-alt i18n-src  width="450" height="222">
  <img src="assets/phrases/Frase-10.webp" alt="GUUD Wishes" id="webphrase10" class="phrase animation ondisplay" i18n-alt i18n-src  width="450" height="178">
  <img src="assets/phrases/Frase-17.webp" alt="GUUD Wishes" id="webphrase17" class="phrase animation" i18n-alt i18n-src  width="450" height="252">

  <img src="assets/phrases/Frase-2.webp" alt="GUUD Wishes" id="webphrase2" class="phrase animation" i18n-alt i18n-src  width="338" height="450">
  <img src="assets/phrases/Frase-9.webp" alt="GUUD Wishes" id="webphrase9" class="phrase animation ondisplay" i18n-alt i18n-src  width="450" height="284">
  <img src="assets/phrases/Frase-11.webp" alt="GUUD Wishes" id="webphrase11" class="phrase animation" i18n-alt i18n-src  width="450" height="450">
  <img src="assets/phrases/Frase-19.webp" alt="GUUD Wishes" id="webphrase19" class="phrase animation" i18n-alt i18n-src  width="450" height="362">

  <img src="assets/phrases/Frase-6.webp" alt="GUUD Wishes" id="webphrase6" class="phrase animation ondisplay" i18n-alt i18n-src  width="450" height="408">
  <img src="assets/phrases/Frase-12.webp" alt="GUUD Wishes" id="webphrase12" class="phrase animation" i18n-alt i18n-src  width="450" height="116">
  <img src="assets/phrases/Frase-13.webp" alt="GUUD Wishes" id="webphrase13" class="phrase animation" i18n-alt i18n-src  width="450" height="114">
  <img src="assets/phrases/Frase-20.webp" alt="GUUD Wishes" id="webphrase20" class="phrase animation" i18n-alt i18n-src  width="450" height="192">

  <img src="assets/phrases/Frase-4.webp" alt="GUUD Wishes" id="webphrase4" class="phrase animation" i18n-alt i18n-src  width="450" height="332">
  <img src="assets/phrases/Frase-8.webp" alt="GUUD Wishes" id="webphrase8" class="phrase animation ondisplay" i18n-alt i18n-src  width="450" height="442">
  <img src="assets/phrases/Frase-18.webp" alt="GUUD Wishes" id="webphrase18" class="phrase animation" i18n-alt i18n-src  width="450" height="214">

  <img src="assets/phrases/Frase-5.webp" alt="GUUD Wishes" id="webphrase5" class="phrase animation" i18n-alt i18n-src  width="450" height="154">
  <img src="assets/phrases/Frase-7.webp" alt="GUUD Wishes" id="webphrase7" class="phrase animation ondisplay" i18n-alt i18n-src  width="450" height="178">
  <img src="assets/phrases/Frase-14.webp" alt="GUUD Wishes" id="webphrase14" class="phrase animation" i18n-alt i18n-src  width="450" height="202">
  <img src="assets/phrases/Frase-16.webp" alt="GUUD Wishes" id="webphrase16" class="phrase animation" i18n-alt i18n-src  width="450" height="438">

  <img src="assets/phrases/Frase-22.webp" alt="GUUD Wishes" id="webphrase0" class="phrase animation" i18n-alt i18n-src  width="450" height="294">
  <img src="assets/phrases/Frase-3.webp" alt="GUUD Wishes" id="webphrase3" class="phrase animation ondisplay" i18n-alt i18n-src  width="450" height="374">
  <img src="assets/phrases/Frase-15.webp" alt="GUUD Wishes" id="webphrase15" class="phrase animation" i18n-alt i18n-src  width="450" height="428">
  <img src="assets/phrases/Frase-21.webp" alt="GUUD Wishes" id="webphrase21" class="phrase animation" i18n-alt i18n-src  width="318" height="450">

  <img src="assets/phrases/newFrase-23.webp" alt="GUUD Wishes" id="webphrasenew23" class="phrase animation" i18n-alt i18n-src  width="450" height="116">
</div>
