<form class="guudform" #formData="ngForm">
  <div class="row" style="margin-bottom: 2rem;">
    <div class="col-12">
      <h2 i18n>Coach</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.firstName}">
        <input type="text" [(ngModel)]="dataFormat.firstName" name="firstName">
        <span i18n>First Name*</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.lastName}">
        <input type="text" [(ngModel)]="dataFormat.lastName" name="lastName">
        <span i18n>Last Name*</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.special}">
        <img class="inputdeco" src="assets/logos_icons/cheveron-down.webp" alt="arrow" width="36" height="36">
        <select [(ngModel)]="dataFormat.special" name="special">
          <option label=" " disabled></option>
          <option [value]="'tips'" i18n>Tips</option>
          <option [value]="'ejercicios'" i18n>Exercises</option>
        </select>
        <span i18n>Speciality</span>
      </label>
    </div>
  </div>
  <div class="row" style="position:relative;">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.instagram}">
        <input type="text" [(ngModel)]="dataFormat.instagram" name="instagram">
        <span i18n>Instagram</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">

      <label class="labeledinput" [ngClass]="{'active': dataFormat.tiktok}">
        <input type="text" [(ngModel)]="dataFormat.tiktok" name="tiktok">
        <span i18n>Tiktok</span>
      </label>
    </div>
    <span id="socialacc" i18n>Specify one social network...</span>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.email}">
        <input type="text" [(ngModel)]="dataFormat.email" name="email">
        <span i18n>Email</span>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label class="labeledinput" [ngClass]="{'active': dataFormat.phone}">
        <input type="text" [(ngModel)]="dataFormat.phone" name="phone">
        <span i18n>Phone*</span>
      </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8 m-auto"><button type="button" (click)="_submit(formData.form.value)" [disabled]="_checkvalid()" i18n>Send</button></div>
  </div>
</form>
