.colordetail {
  width: 100%;
  //background-color: #f8f8f8;
  //height: 15.7rem;
  position: absolute;
  top: 48vh;
  z-index: -1;

  &.active {
    height: 66vh;
  }
}


#droptutoriales {
  display: none;
}
#droptutoriales ~ [class*="area"] {
  display: none;
}
#droptutoriales:checked ~ [class*="area"] {
  display: block;
}
 ul li label:hover {
   cursor: pointer;
 }
 .tutos li {
   text-align: left;
   padding-left: 50%;
 }
