<nav class="burguermenu">
  <input type="checkbox" id="burgerstatus" style="display: none;" [(ngModel)]="_menuOpened">
  <label class="mobileNavigation" for="burgerstatus">
    <img alt="menu" class="burgertoggler" id="openburger" src="assets/svg/menu.svg">
    <img alt="close" class="burgertoggler" id="closeburguer" src="assets/svg/close.svg">
  </label>
  <div id="burgerdisplay">
    <div class="whitedecoration"></div>
    <ul class="top">
      <li [routerLink]="'/'" (click)="_menuOpened=false;" i18n>Home</li>
      <li [routerLink]="'/aboutus'" (click)="_menuOpened=false;" i18n>About us</li>
      <li [routerLink]="'/history'" (click)="_menuOpened=false;" i18n>History</li>
      <li i18n>Caring & giving</li>
      <li i18n>Sustainability</li>
    </ul>
    <ul class="bottom">
      <li i18n>Want to be...</li>
      <li [routerLink]="'/coach'" (click)="_menuOpened=false;" i18n>Coach</li>
      <li [routerLink]="'/supplier'" (click)="_menuOpened=false;" i18n>Supplier</li>
    </ul>
  </div>
</nav>
