.tutosmenu {
  width: 7rem;
  height: 3rem;
  position: absolute;
  label {
    padding-top: 0.8rem;
    &.active {
      border-bottom: 3px solid #68E242 !important;
      color: #68E242;
    }
  }
  :hover {
    cursor: pointer;
  }
  #tutostrigger {
    display: none;
    &:checked {
      ~ label {
        border-bottom: 3px solid #68E242;
        color: #68E242;
      }
      ~ .tutoarea {
        display: block;
      }
    }

    ~ .tutoarea {
      display: none;
    }
  }
  &:hover{
    label{
      border-bottom: 3px solid #68E242 !important;
      color: #68E242;
    }
    .tutoarea{
      display: block !important;
    }
  }
  .tutoarea {
    background-color: #fff;
    list-style: none;
    padding: 1rem;
    width: 9rem;
    top: 2.7rem;
    right: -1vw;
    position: absolute;
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px -2px #737373;
    line-height: 3rem;
    li:hover {
      cursor: pointer;
      background-color: #f0f0f0;
    }
  }
}
