<div class="tutosmenu">
  <input type="checkbox" [(ngModel)]="activemenu" id="tutostrigger"/>
  <label for="tutostrigger" style="width: 100%;" i18n>Tutorial</label>
  <ul class="tutoarea">
    <li [routerLink]="'/welcome'"  (click)="activemenu=false;" i18n>Welcome</li>
    <li [routerLink]="'/calendars'"  (click)="activemenu=false;" i18n>Calendar</li>
    <li [routerLink]="'/tips'"  (click)="activemenu=false;" i18n>Tips</li>
    <li [routerLink]="'/workouts'"  (click)="activemenu=false;" i18n>Workouts</li>
    <li [routerLink]="'/sports'"  (click)="activemenu=false;" i18n>Sports</li>
  </ul>
</div>
