<div class="displayshadow">
  <div class="display col-11 col-lg-10 col-xl-9 col-xxl-8 m-auto">
<br>
    <div class="row" style="margin-bottom: -2rem;">
      <div class="col-12">
        <br><br><br><br>
        <h6 i18n style="font-size: 4.8rem;margin-bottom: 2.2rem;line-height: 4.1rem;">We believe that in-order to create a GUUD world,</h6>
        <h4 i18n style="line-height: 2.8rem;">the first step is helping educate and form GUUD human beings</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 m-auto">
        <div class="caringdisplay row">
          <div class="left-display col-md-3 m-auto">
            <span>Benjamin Salinas. 2023</span>
            <img src="assets/images/Foto-1.webp" alt="GUUD display">
          </div>
          <div class="middle-display col-md-6 m-auto">
            <span>Benjamin Salinas. 2023</span>
            <img src="assets/images/Foto-2.webp" alt="GUUD display">
          </div>
          <div class="right-display col-md-3 m-auto">
            <span>Benjamin Salinas. 2023</span>
            <img src="assets/images/Foto-3.webp" alt="GUUD display">
          </div>
        </div>

        <h5 style="margin-top: 5vw;" i18n>Our main focus is helping organizations devoted in the well-being of people.</h5>
      </div>
    </div>
    <br>
  </div>
</div>
