<div class="deleteacc">

  <h1 style="padding-top: 1pt;padding-left: 184pt;text-indent: 0pt;text-align: center;">Borrado de Cuenta</h1>
  <p style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Este Acuerdo de Licencia de Uso es el acuerdo integrado y exclusivo celebrado entre usted (el Usuario) y GUUD en relación con los productos y
    servicios de la gestión de salud proporcionados por GUUD. El acuerdo es legalmente vinculante en sus comportamientos de uso de la aplicación o servicio de GUUD. Por lo tanto, le pedimos que lea las cláusulas del acuerdo (los menores de edad
    deberán leer el acuerdo acompañados por un tutor). Si no acepta alguna de las cláusulas del acuerdo, le rogamos que no instale, duplique o utilice el producto o servicio de GUUD. El hecho de que el usuario haga clic en el botón
    &quot;Aceptar&quot; al registrarse significa que acepta totalmente todas las cláusulas del acuerdo y las modificaciones que GUUD realice en el futuro. La elección del usuario de visitar o utilizar el servicio de GUUD se considerará como la
    aceptación de estar obligado por todas las cláusulas del acuerdo.</p>
  <h1 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Recogida de información personal</h1>
  <p style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">GUUD recopila información con el fin de proporcionar un mejor servicio a todos los usuarios, incluyendo algunos datos básicos, así como la
    información de la cuenta personal que se utiliza para registrarse y utilizar GUUD y sus productos. Como, por ejemplo:</p>
  <ol id="l1">
    <li data-list-text="1.">
      <p style="padding-top: 8pt;padding-left: 18pt;text-indent: -13pt;text-align: justify;">Información sobre el equipo</p>
      <p style="padding-top: 1pt;padding-left: 18pt;text-indent: 0pt;line-height: 108%;text-align: justify;">GUUD recoge información sobre el equipo, como el tipo de teléfono móvil, la plataforma del sistema y la versión del software, etc. Toda la
        información nos ayudará a mejorar la experiencia de uso de la aplicación y a asegurar que la última versión y función están disponibles para el usuario.</p>
      <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="2.">
      <p style="padding-left: 18pt;text-indent: -13pt;text-align: justify;">Información de posición</p>
      <p style="padding-top: 1pt;padding-left: 18pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Cuando usted visita nuestro sitio web o utiliza nuestra aplicación, podemos localizar su posición geográfica, lo que nos ayudará a
        proporcionarle información, incluidas las noticias locales, etc.</p>
      <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="3.">
      <p style="padding-left: 18pt;text-indent: -13pt;text-align: justify;">Información de registro</p>
      <p style="padding-top: 1pt;padding-left: 18pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Cuando usted utiliza la aplicación de GUUD, podemos recolectar automáticamente alguna información y guardarla en el registro del servidor,
        incluyendo:</p>
      <ul id="l2">
        <li data-list-text="">
          <p style="padding-left: 32pt;text-indent: -13pt;line-height: 14pt;text-align: left;">Funciones de la aplicación utilizadas y secuencia de acceso</p>
        </li>
        <li data-list-text="">
          <p style="padding-top: 1pt;padding-left: 32pt;text-indent: -13pt;text-align: left;">Indicadores de salud ingresados manualmente</p>
        </li>
        <li data-list-text="">
          <p style="padding-top: 1pt;padding-left: 32pt;text-indent: -13pt;text-align: left;">Indicadores de salud determinados por los productos de GUUD</p>
        </li>
        <li data-list-text="">
          <p style="padding-top: 1pt;padding-left: 32pt;text-indent: -13pt;text-align: left;">Dirección IP</p>
        </li>
        <li data-list-text="">
          <p style="padding-top: 1pt;padding-left: 32pt;text-indent: -13pt;line-height: 108%;text-align: left;">Recopilación de información de eventos de colapso de la aplicación, con el fin de hacer un seguimiento y poner remedio.</p>
        </li>
      </ul>
    </li>
  </ol>
  <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">2<span class="s1">、</span>USO DE LOS DATOS PERSONALES</p>
  <p style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Mejora del producto. Utilizamos los datos para mejorar continuamente nuestros productos, incluyendo la adición de nuevas características.</p>
  <p style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">4<span class="s1">、</span>BASE LEGAL PARA EL TRATAMIENTO DE DATOS</p>
  <p style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Tratamos los datos personales para los fines establecidos en la presente política de privacidad, tal y como se ha descrito anteriormente. Nuestra
    base legal para procesar los datos personales incluye el procesamiento que es necesario para la ejecución del contrato con usted; necesario para cumplir con los requisitos legales; necesario para nuestros intereses legítimos; y basado en el
    consentimiento de nuestros clientes.</p>

</div>
